.login-form{
    background-color: rgba(124, 121, 121, 0.651) ;
    border:none;
    border-radius: 20px;
    box-shadow: -4px 4px 5px 2px rgba(0,0,0,0.2);
}
.login-form input:not([type=checkbox]){
    border: none;
    border-radius: 2px;
    border-bottom:oldlace;
}